::-webkit-scrollbar { 
    display: none; 
}

body {
	padding-top: 15vh;
	box-sizing: border-box;
	background-color: #efefef;
}

a, .menu-item {
	cursor: pointer;
}

.app-container {
	width: 100vw;
}


/*
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/

.header {
	background-color: rgb(246, 52, 64);
	color: white;
	position: fixed;
	width: 100%;
	height: 15vh;
	top: 0;
	z-index: 100;
}


.bag {
	float: right;
	font-size: 2em;
	text-decoration: none;
	color: black;
	line-height: 60px;
	height: 60px;
	margin-right: 1.5%;
}

.bag-icon {
	max-width: 100%;
	line-height: 60px;
	height: 60px;
}

.bag-icon-section {
	padding-top: 4%;
}

.bag-count {
	margin-bottom: 10px;
}

.logo {
	display: inline-block;
	line-height: 60px;
	height: 60px;
	margin-left: 1%;
	cursor: pointer;
}


/* Styles for App */

.order-section, .checkout-page {
	display: inline-block;
	height: 84vh;
	width: 66%;
	overflow: auto;
	box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}

.shopping-section {
	margin: 0;
	float: right;
	display: inline-block;
	height: 84vh;
	width: 34%;
	/*width: 100%;*/
	z-index: -1;
}

.customer-section {
	height: 20vh;
	border-bottom: 1px solid #efefef;
}

.customer-section div {
	margin-left: 3%;
}

.order-title, .category-header {
	font-weight: bold;
	font-size: 1.5em;
	border-bottom: 1px solid #efefef;
}

.order-title, .customer-info {
	padding: 1%;
}

.checkout-section {
	height: 7vh;
	width: 100%;
	position: relative;
}

.cost-section {
	height: 57vh;
	overflow-y: scroll;
}

.checkout-btn {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.checkout-btn-hidden {
	display: none;
}

.hidden {
	display: none;
}

.total-summary {
	margin-top: 4%;
}

.subtotal-header, .subtotal-value, .sales-tax-value, .sales-tax-header, .total-summary-filler, .tip-value, .tip-header {
	display: inline-block;
}

.subtotal-header, .sales-tax-header, .tip-header {
	width: 20%;
	padding-left: 1%;
	text-align: right;
}

.total-summary-filler {
	width: 60%;
}
.subtotal-value, .sales-tax-value, .tip-value {
	width: 15%;
	text-align: right;
	padding-right: 5%
}

.change-address {
	font-weight: bold;
}

.empty-cart {
	display: inline-block;
	font-weight: bold;
	padding-top: 4%;
	padding-left: 4%;
}

.menu {
	height: 40vh
	margin: auto;
}

.category-header {
	background-color: #ddd;
	padding: 10px;
	padding-left: 30px;
	font-size: 1.5rem;
}

.menu-item {
	width: 45%;
	display: inline-block;
	border-bottom: 1px dotted black;
	margin: 4px;
	margin-left: 20px;
	position: relative;
}

.menu-item:hover {
	background-color: rgb(238, 238, 238);
}

.item-name {
	color: #0066ff;
	font-weight: bold;
	display: inline-block;
}

.item-price {
	float: right;

}

.add-to-cart {
	background-size
	height: 40px;
}

.quantity-input {
	display: block;
}

.empty-bag{
	/*position: absolute;*/
	display: block;
	top: 50%;
	/*left: 30%;*/
	text-align: center;
	padding-top: 50%;
	margin: auto;
	vertical-align: middle;
}
/* Styles for Banner */

.banner {
	background-image: url('../img/bamboo.jpg');
	min-height: 30vh;
	width: 100%;
}

.banner-info h1{
	margin-top: 0;
}

.banner-info {
	padding: 2%;
}

/* clearfix */

.group:after {
	content: '';
	display: table;
	clear: both;
}


/* modal-styles */

.modal-title h4 {
	display: inline-block;
}

.modal-title .modal-title-price {
	float: right;
}

.shopping-item {
	width: 100%;
}

.shopping-item {
	border-bottom: 1px solid #efefef;
	padding: 5px;
}

.shopping-item div{
	display: inline-block;
	margin-left: 10px;
}

.remove-section, .quantity-section, .item-cost-section {
	width: 10%;
}

.remove-item-btn {
	display: inline-block;
	padding-left: 15%;
}

.item-cost-section {
	text-align: right;
}

.item-name-section {
	width: 50%;
}

/* Restaurants View */

.restaurants-banner {
	background-color: #40c2de;
	height: 15vh;
	color: white;
	font-weight: bold;
	padding-bottom: 12px;
}

.restaurants-banner-text {
	text-align: center;
}

.banner-large-text {
	font-size: xx-large;
}

.banner-medium-text {
	font-size: medium;
}

.search {
	background-color: white;
	height: 70vh;
	width: 80vw;
	margin: 0 auto;
}

.search-results {
	padding: 12px;
	border-bottom: 2px solid rgba(0,0,0,.2);
}

.restaurant-card {
	padding: 10px 20px 20px;
	border-bottom: 2px solid rgba(0,0,0,.2);
	display: flex;
}

.restaurant-card div {
	display: inline-block;
	position: relative
}

.restaurant-card div div div{
	display: block;
}

.restaurant-card img {
	max-width: 120px;
}

.restaurant-info {
	align-self: flex-end;
}

.restaurant-primary-info {
	font-size: 2.0em;
	padding: 0 40px 0 30px;
}

.restaurant-primary-info a {
	color: rgb(0, 112, 235);
}

.checkout-page {
	padding: 0px 40px;
}

.delivery-form-main-header {
	margin-bottom: 35px;
}

.delivery-form-sub-header{
	margin-bottom: 20px;
}

/* Payment */
.body-link {
	color: #0070eb;
	cursor: pointer;
	font-weight: bolder;
}

.body-link .glyphicon {
	margin-left: 5px;
}

.body	{
	font-size: 16px;
}

.payment-form {
	margin-top: 10px;
}

.payment-btns {
	margin-bottom: 10px;
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
 	border-radius: 8px;
}

.custom-tip-input {
	height: 54px;
}

.btn-success {
	height: 45px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	border-color: #003f85;
	background-color: #003f85;
	background-position: 0px -100px;
	color: white;
	box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #0070eb;
	border-color: #0070eb;
	background-image: none;
	box-shadow: none;
}

.custom-tip-input {
	cursor: pointer;
}

.redirect-message {
	margin-left: 12px;
	text-align: center;
}

.redirect-message p {
	padding: 40px 10px 25px 10px;
	font-size: 18px;
}

.redirect-message h2 {
	padding-bottom: 15px;
}

h2.redirect-checkout-padding {
	padding: 10px 10px 30px;
}

.validate {
	border-color: #ff9715;
	border: 2px solid #ff9715;
	border-radius: 4px;
}

.validate-color {
	color: #ff9715;
}
